* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primaryOrange: hsl(35, 77%, 62%);
  --primaryRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayBlue: hsl(233, 8%, 79%);
  --navy: hsl(236, 13%, 42%);
  --navyDark: hsl(240, 100%, 5%);
}
html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
html {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--offWhite);
}
hr {
  border: 1px solid var(--navy);
}
a {
  text-decoration: none;
}
p {
  color: var(--navy);
}
ul {
  list-style: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/**/
header nav, main {
  max-width: 1200px;
  padding: 0 3rem;
}
header {
  width: 100%;
  padding: 4rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.not-burger {
  display: flex;
  gap: 2.5rem;
  letter-spacing: 0.04rem;
}
header a {
  color: var(--navyDark);
}
header a:hover {
  color: var(--primaryRed);
}
.burger-invisible {display: none;}
.burger-visible {display: block;}
/*MOBILE NAV*/
.burger {
  cursor: pointer;
}
.mbl-nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  overflow: hidden;
  background-color: hsla(240, 100%, 5%, 55%);
}
.hideshow {
  display: none;
}
.mbl-nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  z-index: 102;
  padding: 2rem 1.66rem;
  background-color: var(--offWhite);
}
.mbl-nav img {
  position: absolute;
  right: 1.66rem;
  cursor: pointer;
}
.mbl-nav img:hover {
  fill: var(--primaryRed);
}
.mbl-nav ul{
  margin-top: 15vh;
}
.mbl-nav ul li {
  margin-bottom: 4.2vh;
  font-size: 1.2rem;
}
/**/
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}
/*SECTION ONE*/
.mbl-header {
  display: none;
}
.sect-headline {
  grid-column: span 2;
}
.sect-headline img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.sect-headline h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 3.7rem;
}
.sh-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.sh-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sh-desc p {
  line-height: 1.66rem;
}
.sh-desc button {
  align-self: flex-start;
  padding: 1.1rem 2.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--offWhite);
  background-color: var(--primaryRed);
  border: none;
  cursor: pointer;
}
.sh-info button:hover {
  background-color: var(--navyDark);
}
/*SECTION TWO*/
.sect-latest {
  padding-top: 2rem;
  padding-left: 1.66rem;
  padding-right: 1.66rem;
  background-color: var(--navyDark);
}
.sect-latest h2 {
  font-size: 2.55rem;
  color: var(--primaryOrange);
}
.sect-latest h3 {
  font-size: 1.3rem;
  letter-spacing: 0.033rem;
  color: var(--offWhite);
  margin-bottom: 1rem;
}
.sect-latest a:hover h3 {
  color: var(--primaryOrange); /*Highlighting H3 when hovering entire a (h3 & p) instead of only h3*/
}
.sect-latest p {
  color: var(--grayBlue);
  line-height: 1.5rem;
}
.sla-wrapper {
  padding-top: 2rem;
}
.sla-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--navy);
  padding-bottom: 2rem;
}
/*SECTION THREE*/
.sect-popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  gap: 2rem;
  margin-top: 2rem;
}
.sect-popular a:hover .sp-info h3 { /*Same thing*/
  color: var(--primaryRed);
}
.sp-article {
  display: grid;
  grid-template-columns: 28.5% 1fr;
}
.sp-article img {
  width: 100%;
}
.sp-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0 0.2rem 1.6rem;
}
.sp-info h2{
  font-size: 2rem;
  font-weight: 700;
  color: var(--grayBlue);
}
.sp-info h3{
  font-weight: 700;
  letter-spacing: 0.03rem;
  color: var(--navyDark);
}
.sp-info p {
  line-height: 1.5rem;
}
footer {
  margin-top: 2rem;
}

@media only screen and (max-width: 960px) {
  header nav, main {
    max-width: 375px;
    padding: 0 1rem;
  }
  header {
    padding: 2rem 0;
  }
  .navlogo {
    width: 3rem;
    height: auto;
  }
  .not-burger {
    display: none;
  }
  .burger {
    display: block;
  }
  .dsk-header {
    display: none;
  }
  .mbl-header {
    display: block;
  }
  main, .sh-info, .sect-popular {
    grid-template-columns: 1fr;
  }
  .sect-headline, .sect-popular {
    grid-column: span 1;
  }
  .sect-headline {
    margin-bottom: 2rem;
  }
  .sect-headline h1 {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 2.7rem;
  }
  .sh-info {
    gap: 1rem;
  }
  .sh-desc button {
    margin-top: 2rem;
  }
  .sect-latest {
    padding: 1.5rem;
  }
  .sect-latest h2 {
    font-size: 2rem;
  }
}