@font-face {
    font-family: "HankenGrotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 500;
    font-variation-settings: "whgt" 500;
    font-style: normal;
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 700;
    font-variation-settings: "whgt" 700;
    font-style: normal;
    
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 800;
    font-variation-settings: "whgt" 800;
    font-style: normal;
}