* {
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  font-family: "Open Sans";
  margin: 0;
}

body {
  background: url(https://i.imgur.com/k7tMO4J.png);
  background-color: #c7ad84;  
}

header {
  font-family: Cinzel;
  font-size: 2em;
  font-weight: bold;
}

nav {
  height: 100%;
  width: 300px;
  min-width: 290px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1em;
  border-right: 1px solid #fff;
  background: #111;
  color: #00b3ff;
  
}

section {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

nav a {
  text-decoration: none;
  color: #777;
  display: block;
  font-size: 1.2em;
  padding: 0.2em 0;
}

nav a:hover {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #222;
}

main {
  margin-left: 300px;
  margin-right: auto;
  margin-top: 1em;
  margin-bot: 2em;
  padding: 0 2em 2em 1em;
}

.worldmap {
  width: 100%;
  height: auto;
}

nav header {
  bottom-border: 1px solid white;
}

code {
  background: rgba(117, 89, 56, 0.4);
  padding: 3px 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  line-height: 2;
  display: block;
}

iframe {
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    max-height: 315px;
    border-left: 0.2em solid #00b3ff;
}

figure {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 5px solid rgba(117, 89, 56, 0.4);
  background: rgba(117, 89, 56, 0.4);
  margin-left: 0;
}

figcaption {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  nav {
    position: fixed;
    width: 100%;
    max-height: 150px;
    z-index: 1;
    border-bottom: 2px solid;
    top: 0;
  }

  main {
    margin-left: 0px;
    padding-top: 150px;
  }

  .main-section {
    scroll-margin-top: 150px;
    /* spent too much time finding this trick oml */
    /* just to keep nav visible to click new stuff */
    /* instead of the example forcing you to scroll */
    /* back up to click another section */
   }

}
