.article-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: flex-end;
}
h3 {
  font-size:1.2rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}
.hero-shot:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 960px) {
  .article-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    font-size: 1rem;
  }
}