* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --clr-primary: hsl(259, 100%, 65%);
  --clr-secondary: hsl(0, 100%, 67%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-off-black: hsl(0, 0%, 8%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);
}
html, body {
  min-height: 100vh;
  height: 100%;
}
html {
  font-family: 'Poppins', sans-serif; /* 400i, 700, 800i */
  font-size: 32px;
}
body {
  background-color: var(--clr-off-white);
}
.attribution { margin-top: 1rem;font-size: 11px; text-align: center; }
.attribution a { color: var(--clr-primary); }
.invalid-field {color: var(--clr-secondary)!important;}
.invalid-field input {border-color: var(--clr-secondary)!important;}
.invalid-field .input-error {display: block!important;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input[type=number]:focus {border-color: var(--clr-primary);}
/**/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0.5rem;
  max-width: 375px;
}
.age-app {
  background-color: white;
  padding: 1.5rem 0.75rem;
  border-radius: 0.625rem 0.625rem 2.96rem 0.625rem;
}
form {
  position: relative;
  border-bottom: 2px solid var(--clr-light-grey);
  padding-bottom: 2rem;
}
.date-input-group {
  display: flex;
  gap: 0.46rem;
  border: none;
}
.date-input-group label {
  width: 33.33%;
  float: left;
  font-size: 0.4rem;
  letter-spacing: 0.08rem;
  color: var(--clr-smokey-grey);
}
input[type="number"] {
  display: block;
  width: 100%;
  height: 1.68rem;
  margin-top: 0.1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--clr-light-grey);
  font-size: 0.63rem;
  font-weight: 800;
  color: var(--clr-off-black);
  padding: 0 0.42rem;
  letter-spacing: -0.02rem;
  outline: none!important;
  caret-color: var(--clr-primary);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-smokey-grey);
  opacity: 0.9; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--clr-smokey-grey);
  opacity: 0.9;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--clr-smokey-grey);
  opacity: 0.9;
}
.input-error {
  display: none;
  color: var(--clr-secondary);
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  margin-top: 0.25rem;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--clr-primary);
  border-radius: 999rem;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -1rem;
}
.submit-button:hover {
  background-color: var(--clr-off-black);
}
.submit-button img {
  transform: scale(0.55);
}
input[type="submit"] {
  display: none;
}
.result-wrapper {
  margin-top: 2rem;
}
.result {
  font-size: 1.8rem;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -0.05rem;
  white-space: nowrap;
  line-height: 1.9rem;
}
.result-num {
  color: var(--clr-primary);
}

@media only screen and (min-width: 968px) {
  main {
    max-width: 27.25rem;
  }
  .age-app {
    padding: 1.75rem 1.75rem;
    border-radius: 0.625rem 0.625rem 6rem 0.625rem
  }
  form {
    padding-bottom: 1.5rem;
  }
  .date-input-group {
    width: 75%;
    gap: 1rem;
  }
  .date-input-group label {
    font-size: 0.45rem;
    letter-spacing: 0.08rem;
  }
  input[type="number"] {
    height: 2.25rem;
    margin-top: 0.2rem;
    font-size: 1rem;
    padding: 0 0.75rem;
  }
  .submit-button {
    width: 3rem;
    height: 3rem;
    margin: 0;
    left: auto;
    bottom: -1.5rem;
  }
  .submit-button img {
    transform: scale(1);
  }
  .result-wrapper {
    margin-top: 1.5rem;
  }
  .result {
    font-size: 3.25rem;
    letter-spacing: -0.05rem;
    line-height: 3.5rem;
  }
  .result-txt {
    margin-left: -0.2rem;
  }
}