*, ::before, ::after {
    box-sizing: border-box;
}

/*Color Sets*/
:root {
    /* Design References: https://brand.riotgames.com/en-us/league-of-legends/fundamentals */
    --lolBlue1: #CDFAFA;
    --lolBlue2: #0AC8B9;
    --lolBlue3: #0397AB;
    --lolBlue4: #005A82;
    --lolBlue5: #0A323C;
    --lolBlue6: #091428; /*Match History Win BG*/
    --lolBlue7: #0A1428;
    --lolGold1: #F0E6D2; /* Headers */
    --lolGold2: #C8AA6E; /* Light Gold */
    --lolGold3: #C8AA6E;
    --lolGold4: #C89B3C; /* Dark Gold Accent Subtitles */
    --lolGold5: #785A28;
    --lolGold6: #463714;
    --lolGold7: #32281E;
    --lolGrey1: #A09B8C; /* Main body color (Spiegel text) */
    --lolGrey2: #5B5A56; /* Footer Disclaimers */
    --lolGrey3: #3C3C41; /* Gray horizontal lines or disabled stuff */
    --lolGrey4: #1E2328;
    --lolGreyCool: #1E282D;
    --lolHexBlack: #010A13; /* Static Backgrounds */
    --lolGradientBlue: #005A82, #0AC8B9; /* Magic, Hextech */
    --lolGradientGold: #785A28, #C89B3C; /* Metallics */
    --lolGradientDark: #091428, #0A1428; /* Background Gradients */
    --riotRed: #d13639;
    --lossRed: #280909;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    background-color: var(--lolHexBlack);
    font-family: "Spiegel", sans-serif;
    font-size: 1.6rem;
    color: var(--lolGrey1);
}

a {
    text-decoration: none;
    color: var(--lolGold2);
}

a:hover {
    color: var(--lolGold4);
}

button, .a-button {
    border-radius: 0!important;
}

small {
    font-size: 1rem;
}

.form-control, .form-select, textarea {
    border-color: var(--lolGrey3);
    border-radius: 0;
    font-size: 1.5rem;
    color: var(--lolGrey1)!important;
}

::file-selector-button {
    background-color: var(--lolGrey4)!important;
    color: var(--lolGrey1)!important;
    font-weight: 700;
}

.marginthing {
    margin-bottom: 2rem;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 380px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.5)), url(./src/media/headerimg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;    
}

.header-texts { 
    user-select: none;
}

.header-divider {
    position: absolute;
    bottom: -1px;
    background-image: url(./src/media/hdDividerDark.webp);
    background-repeat: repeat-x;
    width: 100%;
    height: 53px;
}

/*Main Content*/
main {
    margin-top: 2rem;
}

/*Modal*/
.modal-content {
    border: 4px solid var(--lolGold4);
    padding: 0.7em;
    border-radius: 0;
    background-color: var(--lolHexBlack);
}

.report-form {
    border: 2px solid var(--lolGold4);
}

.modal-footer, .modal-header {
    border: none;
}

/*Footer*/
footer {
    padding-top: 2rem;
    color: white;
    background-color: var(--lolHexBlack);
}

footer section {
    padding-bottom: 1rem;
}

footer ul, footer a{
    text-decoration: none;
    color: #6c757d;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-block {
    margin-top: 2rem;
}

.logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SumLogo {
    max-height: 10rem;
    filter: brightness(50%) saturate(50%);
}

.SumLogo:hover {
    filter: brightness(100%) saturate(100%);
    cursor: pointer;
}

.footer-socials { 
    text-align: end;
}

/*Table Styling*/
#table-mostreports {
    table-layout: fixed;
}

.w85 {
    width: 85%;
}

.w15 {
    width: 15%;
}

tr {
    border-bottom: 1px solid var(--lolGrey3);
}

/* Specific to summoner profile data table */
#table-suminfo {
    border-top: 1px solid var(--lolGrey3);
}
#table-suminfo td {
    word-break: break-all;
}

#table-suminfo tbody tr:hover {
    background-color: var(--lolGreyCool);
}

#SUM-LEVEL {
    color: var(--lolGold1);
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
    width: 70%;
    background-color: rgba(1, 10, 19, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
/**/
#match-history {
    margin-top: 1.5rem;
}

.matchCard {
    max-height: 100px;
    background-color: var(--lolBlue6);
    margin-top: 0.5rem;
}

.mc-mode-container {
    display: relative;
    min-width: 120px;
}

.mc-mode {
    position: absolute;
    min-height: 100px;
    min-width: 120px;
    z-index: 2;
    color: var(--lolGold1);
    padding-left: 1rem;
    text-shadow: 0 0 4px black;
}

.mc-gametype {
    max-width: 120px;
    line-height: 1.5rem;
}

.mc-gamelength {
    font-size: 1.2rem;
}

.mc-champ-bg {
    background-position: left;
    background-size: 100%;
    height: 100%;
}

.mc-perk, .mc-item {
    background-size: 100%;
    background-color: var(--lolHexBlack);
    border-radius: 10%;
    height: 32px;
    width: 32px;
    margin: 2px;
}

.mc-stats-score {
    font-weight: 700;
    color: var(--lolGold1);
}

.mcss-slash {
    color: var(--lolGrey3);
}

.mcss-deaths {
    color: var(--riotRed);
}

.mc-stats-extra {
    font-size: 1.4rem;
}

.mc-teams {
    font-size: 1.2rem;
    width: 100px;
}

.mc-player {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*Accordion Mods*/
.accordion-item {
    margin-bottom: 1rem;
    background: none;
    border: none;
}

.accordion-button, .accordion-button:not(.collapsed) {
    background: none;
    color: var(--lolGold4);
    box-shadow: none;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F0E6D2'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C89B3C'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-breaker {
    color: var(--lolGold2);
}

/*Headlines & Text*/
.beau-title, .beau-heading, .beau-heading-small, .beau-sub-gold-dark, .beau-sub-gold-light {
    font-family: BeaufortForLOL;
    font-weight: 700;
    color: var(--lolGold1);
    text-transform: uppercase;
}

.beau-title {
    font-size: 7.4rem;
    letter-spacing: -0.01em;
    font-weight: 800;
}

.beau-heading {
    font-size: 5.325rem;
    line-height: 1.08;
    letter-spacing: 0em;
}

.beau-heading-small {
    font-size: 3.75rem;
    line-height: 1.12;
    letter-spacing: 0.02em;
}

.beau-sub-gold-dark {
    font-size: 2.4rem;
    line-height: 1.12;
    letter-spacing: 0.025em;
    color: var(--lolGold4);
}

.beau-sub-gold-light {
    font-size: 2.4rem;
    line-height: 1.12;
    letter-spacing: 0.025em;
    color: var(--lolGold2);
}

.spiegel-title {
    font-size: 1.8rem;
    line-height: 1.12;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: var(--lolGold1);
    text-transform: uppercase;
}

.spiegel-text, p {
    font-size: 1.6rem;
    line-height: 1.24;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: var(--lolGrey1);
    text-transform: none;
}

.spiegel-label {
    font-size: 1rem;
    letter-spacing: 0.04em;
    color: var(--lolGold4);
    text-transform: uppercase;    
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

/*Media Queries*/
@media only screen and (max-width: 767px) {
    .mc-teams-container {
        display: none!important;
    }
    footer {
        text-align: center!important;
  }
}