*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --lightGray: hsl(212, 45%, 89%);
    --grayBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
/*META*/
html {
    font-size: 15px;
    font-family: Outfit;
}
html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightGray);
}
/**/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.xd {
    padding: 1rem;
}
.card-qr {
    background: white;
    width: 320px;
    height: 500px;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.card-qr img {
    width: 100%;
    border-radius: 0.8rem;
}
.card-qr h2 {
    color: var(--darkBlue);
    margin-bottom: 2rem;
    font-weight: 700;
}
.card-qr p {
    color: var(--grayBlue);
    font-weight: 400;
}