*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --dotRed: hsl(1, 90%, 64%);     /*NOTIFICATION DOT*/
    --linkBlue: hsl(219, 85%, 26%); /*LINK HOVER*/
    --vlgBlue: hsl(210, 60%, 98%);  /*BACKGROUND*/
    --lgBlue1: hsl(211, 68%, 94%);  /*BACKGROUND*/
    --lgBlue2: hsl(205, 33%, 90%);  /*MSG HOVER BG*/
    --gBlue: hsl(219, 14%, 63%);    /*DATE*/
    --dgBlue: hsl(219, 12%, 42%);   /*TEXT*/
    --vdBlue: hsl(224, 21%, 14%);   /*LINK & TITLE*/
    --missCol: 	hsl(200, 6%, 90%);  /*MSG BORDER*/
}
html {
    font-family: 'Plus Jakarta Sans', sans-serif;  /* 500, 800 */
    font-size: 16px;
    letter-spacing: -.04em;
}
html, body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
body {
    background: var(--vlgBlue);
}
/**/
.attribution {font-size: 11px; text-align: center;}
.attribution a {color: hsl(228, 45%, 44%);}
/**/
main {
    margin: 0 auto;
    max-width: 100%;
    min-height: 100%;
    background: white;
    padding: 2em 1em;
}
.notif-container {
    height: 100%;
}
.notif-container a {
    text-decoration: none;
    color: var(--vdBlue);
    font-weight: 800;
}
.notif-container .a-other {
    color: var(--dgBlue);
    margin-left: 0.2em;
}
.notif-container a:hover, .notif-header button:hover {
    color: var(--linkBlue);
}
.notif-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.notif-header h2 {
    color: var(--vdBlue);
}
.count-cont {
    display: flex;
    align-items: center;
    background-color: var(--linkBlue);
    color: white;
    padding: 0 0.8em;
    border-radius: 8px;
    font-weight: 800;
    margin-left: 0.6em;
}
.notif-header button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--dgBlue);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}
.notif-title-count {
    display: flex;
}
.notif-card {
    display: flex;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 0.6em;
}
.postimg-cardtype {
    display: flex;
}
.between {
    justify-content: space-between;
}
.card-unseen {
    background-color: var(--vlgBlue);
}
.card-unseen p:after {
    content: " •";
    color: var(--dotRed);
    font-size: 1.4em;    
}
.notif-avi {
    height: 40px;
    width: 40px;
    margin-right: 0.7em;
}
.notif-card .a-name {
    margin-right: 0.1em;
}
.notif-card p {
    color: var(--dgBlue);
    line-height: 1.2em;
}
.notif-postimg {
    height: 40px;
    width: 40px;
}
.notif-postimg:hover {
    cursor: pointer;
    border: 1px solid var(--lgBlue2);
    border-radius: 8px;
}
.notif-date {
    color: var(--gBlue);
    font-size: 0.9em;
    word-spacing: 0.1em;
}
.notif-msg {
    padding: 1em;
    border: 1px solid var(--missCol);
    border-radius: 5px;
    margin-top: 0.8em;
}
.notif-msg:hover {
    background-color: var(--lgBlue2);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    main {
        border-radius: 20px;
        max-width: 730px;
        min-height: auto;
    }
}