* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --clrAccent: hsl(0, 100%, 64%);
  --clrParagraph: hsl(0, 3%, 66%);
  --clrBackground: hsl(0, 23%, 6%);
  --clrNavBar: hsl(0, 0%, 7%);
  --clrHover: hsl(0, 0%, 100%);
  --clrDormant: hsl(0, 5%, 54%);
  --clrPlaceholder: hsl(0, 0%, 17%);
}
html, body {
  min-height: 100vh;
  height: 100%;
}
html {
  font-family: "Mohave", sans-serif;
  font-size: 20px;
}
body {
  background: url(/rss/bg.webp) no-repeat, var(--clrBackground);
  background-size: cover;
}
h1, h2, h3, h4 {color: white;}
h2 {font-size:3.2rem;}
h4 {font-weight: 400;}
p {color: var(--clrParagraph);}
a {text-decoration: none;}
p a {color: var(--clrAccent);text-decoration: underline;}
.active {font-size: 1.7rem; color: var(--clrAccent)!important;}/*Prevent hover bypass*/
.dashes {font-weight: 400;color: var(--clrAccent);}
.no-highlight {-webkit-user-select: none;-ms-user-select: none;user-select: none;}
.no-display {display: none!important;}
.display {display: block!important;}
/**/
/*HEADER/NAVBAR*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 100%;
  padding: 2rem 3.2rem;
  z-index: 100;
  background-color: var(--clrNavBar);
  box-shadow: 1.6rem 0 0.6rem hsla(0, 0%, 0%, 0.25);
}
header .logo {
  margin-bottom: 3rem;
  font-family: "Libre Barcode 128 Text", sans-serif;
  font-size: 4.8rem;
  text-align: center;
  color: white;
}
header ul {
  font-size: 1.5rem;
  text-align: end;
  list-style: none;
}
header a {color: var(--clrDormant); transition: all 0.1s;}
header a:hover {font-size: 1.7rem; color: var(--clrHover);}
/*MAIN CONTENT*/
main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-left: 18.75rem;
}
main .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  padding: 1.6rem;
}
.page-title {
  font-size: 6.4rem;
  font-weight: 700;
}
.page-content {
  flex: 1 1 100%;
  height: 100%;
  background-color: var(--clrBackground);
  padding: 1.6rem;
}
.project-section {
  margin-bottom: 4rem;
}
.project-section h2 {
  text-transform: uppercase;
}

.hero-shot, .detail-shot {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 0.3rem;
}
.hero-shot:hover, .detail-shot:hover {
  border-radius: 0;
  box-shadow: 0 0 0.3rem var(--clrAccent);
}
.detail-shot:hover {
  transform: scale(1.05);
}

.a-more a{
  font-size: 1rem;
  text-decoration: underline;
  color: white;
}
.a-more a:hover {
  color: var(--clrAccent);
}



@media only screen and (max-width: 1182px) {
  .page-title {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 960px) {
  .page-title {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1rem;
  }
  main {
    margin: 0;
  }
  #navBtnWrap {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    pointer-events: none;
  }
  #nav-open {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99;
    pointer-events:all;
  }
  #nav-open svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  #nav-collapse {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
  }
  #nav-collapse svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
  }
  #nav-collapse:hover svg {
    fill: #888;
  }
}

@media only screen and (max-width: 534px) {
  .page-title {
    font-size: 3rem;
  }
  header {
    width: 70vw;
    padding: 2rem 12vw;
  }
  header .logo {
    font-size: 18vw;
  }
  header ul {
    font-size: 5.5vw;
  }
  .active {
    font-size: 6.4vw;
  }
}