main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 7rem;
  line-height: 5rem;
  border-bottom: 0.8rem solid red;
  margin-bottom: 0.7rem;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
i {
  font-size: 3rem;
  color: hsla(0, 5%, 54%, 0.4);
  transition: all 0.1s;
}
a i:hover {
  transform: scale(1.1);
  color: var(--clrHover);
}