h3, h4 {
  font-size:2.4rem;
}

.hero-container, .context {
  grid-column-end: span 2;
}
.hero-shot:hover ~ .popout {
  color: hsl(0, 100%, 64%);
  opacity: 0.6;
}
.hero-container {
  position: relative;
  width: 100%;
}
.popout {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
  font-size: 2rem;
  opacity: 0.2;
  transition: all 0.2s ease;
  pointer-events: none;
  text-shadow: -5px 5px 4px black;
}
.article-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
article:not(.keep) .detail-shot {
  display: none;
}
.project-sub {
  margin-bottom: 2rem;
}

#lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  backdrop-filter: blur(0.2rem);
}
#lightbox-content {
  margin: 0 auto;
  max-width: 80vw;
  padding: 2rem;
}
#lightbox-title {
  display: flex;
  justify-content: space-between;
}
#lightbox-main {
  position: relative;
  overflow: hidden;
}
#lightbox-main-display {
  width: 100%;
  z-index: 901;
  vertical-align: top;
}
.lbtc-backdrop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 903;
  display: flex;
  align-items: center;
}
#lightbox-thumb-container {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem;
  transition: all 0.5s ease;
  z-index: 904;
}
.lightbox-thumb {
  height: 4vw;
  cursor: pointer;
  opacity: 0.7;
  filter: blur(1rem);
  filter: brightness(0.8);
}
.lightbox-thumb:hover {
  filter: brightness(1);
  opacity: 1;
}
.lightbox-thumb:not(.active-thumb) {
  border: 1px solid #666;
}
.active-thumb {
  border: 1px solid hsl(0, 100%, 64%)!important;
  filter: brightness(1)!important;
  opacity: 1!important;
  filter: drop-shadow(0 0 0.2rem red)!important;
}
#lightbox-arrow-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 902;
  width: 100%;
  height: 3rem;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  height: 100%;
}
#lightbox-arrow-container button {
  background: none;
  border: none;
  cursor: pointer;
  width: 5rem;
  transition: background 0.2s ease;
}
#lightbox-arrow-container button:hover {
  background-color: rgba(0,0,0,0.5);
}
#lightbox-arrow-container button svg {
  fill: hsla(0, 0%, 100%, 0.2);
  pointer-events: none;
}
#lightbox-arrow-container button:hover svg{
  fill: hsl(0, 100%, 64%);
  filter: drop-shadow(0 0 1rem red);
}
#lb-exit-btn {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}
#lb-exit-btn svg {
  fill: hsla(0, 0%, 100%, 0.2);
  width: 2rem;
  height: 2rem;
}
#lb-exit-btn:hover svg {
  fill: hsl(0, 100%, 64%);
  filter: drop-shadow(0 0 1rem red);
}

@media only screen and (max-width: 1200px) {
  .hero-container, .context {
    grid-column-end: span 4;
  }
}

@media only screen and (max-width: 960px) {
  h3 {
    font-size: 5vw;
  }
  h4 {
    font-size: 5vw;
  }
  .lbtc-backdrop {
    display: none!important;
  }
  #lightbox-content {
    max-width: 100vw;
    padding: 0;
  }
  #lightbox-title {
    padding: 0 1rem 0 1rem;
  }
  #lightbox-arrow-container button svg {
    width: 7vw;
  }
  #lb-exit-btn svg {
    width: 5vw;
    height: 5vw;
  }
}